.header {
    background: no-repeat right bottom;
    background-image: url('../../../images/meat.png');   
    position: relative;
    padding: 100px 0 400px;

    &__container {
        display: flex;
        flex-direction: column;        
    }

    &__top {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 74px;
    }

    &__next-section {
        position: absolute;
        bottom: 40px;
        left: calc(50% - 31px);
        background: url('../../images/down-arrow.svg') no-repeat;
        background-size: contain;
        width: 62px;
        height: 20px;
        transition: all .2s;

        &:hover {
            transform: translateY(5px);
        }
    }

    @media (max-width: 1024px) {
        background-position-x: 50px;
    }
}