.page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0625rem;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0 20px 0;
}