.title-caption {
    font-family: 'Merryweather';
    font-style: italic;    
    background-image: linear-gradient(to bottom, #AD844C, #BDA180, #AD844C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}